body{
  background-image:
    linear-gradient(to top, transparent 30%, white 90%),
    linear-gradient(to right, rgb(174, 176, 175) 0%, rgba(110, 115, 121, 1) 25%, rgba(89, 97, 103, 1) 50%,  63%, rgba(159, 159, 153, 1) 75%, rgba(201, 201, 193, 1) 88%, rgba(158, 170, 168, 1) 100%);
}
.fadeout-image{
  display:block;
  position:relative;
  z-index:2;
  margin-top:-30px;
  height: auto;
}

.about-image{
  display: block;  
  /* height:auto; */
  width: 100%;
}

.header{
  position: sticky;
}

.info{
  margin-right: 10vw;
  margin-left: 10vw;
}

.info-paragraph {
  padding: 1em;
}

.info-paragraph span{
  display: inline-block;
  color: #2c0000;
  text-decoration: none;
  position: relative;
  padding: 0.1em 0.4em;
  transform: skew(0deg);
  transition: color 0.3s ease, transform 0.3s ease;
}

.info-paragraph span:hover{
  color: #696969;
  transform: skew(-10deg);
}