
.fadeout-image{
    display: block;
    position:absolute;
    z-index:2;
    top:50vh;
    /* align-items: flex-end; */
    padding-top:50%;
    background:
        linear-gradient(to top, transparent 30%, white 90%),
        linear-gradient(to right, rgb(174, 176, 175) 0%, rgba(110, 115, 121, 1) 25%, rgba(89, 97, 103, 1) 50%,  63%, rgba(159, 159, 153, 1) 75%, rgba(201, 201, 193, 1) 88%, rgba(158, 170, 168, 1) 100%);
        /* linear-gradient(to right, rgba(219, 224, 223, 1) 0%, rgba(225, 225, 225, 1) 13%, rgba(110, 115, 121, 1) 25%, rgba(213, 195, 176, 1) 38%, rgba(89, 97, 103, 1) 50%, rgba(231, 235, 230, 1) 63%, rgba(159, 159, 153, 1) 75%, rgba(201, 201, 193, 1) 88%, rgba(158, 170, 168, 1) 100%); */
}

.about-image{
    height:auto;
    width: 100%;
}

.info{
  z-index: 10;
  /* display: block; */
  /* position: relative; */
  /* flex-wrap: nowrap; */
  /* flex-direction: row; */
  /* align-items: flex-end; */
  /* bottom: 50px; */
  /* left: 50px; */
  /* height:auto; */
  /* font-size: 50px; */
  /* background: linear-gradient(to left,rgba(0, 0, 0, 0.873) 40%, #000000 60%);
  background-clip: text;
  background-position: right bottom;
  color: transparent; */
  /* color: black; */
  /* background-size: 400% 100%; */
  /* transition: background-position 1.5s ease; */
}

.info-paragraph{
  z-index:10;
  padding: 1em;
}
/* .info:hover{
    background-position:left bottom;
} */
