:root{
  --black: #111;
  --dark: #232323;
  /* --cream: #f7e9d8; */
  --cream: #FFFBFA;
  --cream-10: #f1e2d0;
  --white: #ffffff;
  --offwhite: #e8e8e8;
}

html {
    font-size: clamp(20px,calc(15px + 0.390625vw),22px);
}

p{
    padding: 0px;
    margin: 0px;
}

body{
    margin: 0;
    padding-top: 0px;
    padding-left: 0px;
}

@font-face {
    font-family: 'optima_stdmedium';
    src: url('../optimaltstd-medium-webfont.woff2') format('woff2'),
        url('../optimaltstd-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} 